@model BetaSigmaPhi.Web.Models.UserModel

@{
	ViewBag.Title = (Model.UserId > 0) ? "Edit User" : "New User";
}

<div class="container">
	<div class="row">
		<div>
			@Html.ActionLink("<< Back to List", "Index")
		</div>

		<h2>@ViewBag.Title</h2>

		@using (Html.BeginForm()) {
			@Html.ValidationSummary(true)

			<div class="editor-label">
				@Html.LabelFor(model => model.Email)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Email)
				@Html.ValidationMessageFor(model => model.Email)
			</div>

			<div class="editor-label">
				@Html.LabelFor(model => model.FirstName)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.FirstName)
				@Html.ValidationMessageFor(model => model.FirstName)
			</div>

			<div class="editor-label">
				@Html.LabelFor(model => model.LastName)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.LastName)
				@Html.ValidationMessageFor(model => model.LastName)
			</div>

			<div class="editor-label">
				@Html.LabelFor(model => model.Password)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Password)
				@Html.ValidationMessageFor(model => model.Password)
			</div>

			<div class="editor-field">
				<input type="checkbox" id="IsAdmin" name="IsAdmin" value="true" checked="@Model.IsAdmin" />
				@Html.LabelFor(model => model.IsAdmin)
				@Html.ValidationMessageFor(model => model.IsAdmin)
			</div>

			<div class="editor-field">
				<input type="checkbox" id="IsActive" name="IsActive" value="true" checked="@Model.IsActive" />
				@Html.LabelFor(model => model.IsActive)
				@Html.ValidationMessageFor(model => model.IsActive)
			</div>

			<p>
				<input type="submit" value="Save" />
			</p>
		}
	</div>
</div>
