@using BetaSigmaPhi.Web.Models
@model List<BetaSigmaPhi.Web.Models.UserModel>

@{
	ViewBag.Title = "Users";
}

@section head {
	<style>
		table {
			border: 1px solid black;
			width: 100%;
		}
		table td, table th {
			border: 1px solid black;
			padding: 5px;
		}
	</style>
}

<h2>@ViewBag.Title</h2>
<br />
@Html.ActionLink( "New User", "Edit", "User", new { id="0" }, null )
<br />
<table>
	<thead>
		<tr>
			<th>Email</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Admin</th>
			<th>Active</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach ( UserModel user in Model ) {
			<tr>
				<td>@Html.ActionLink( user.Email, "Edit", "User", new { id=user.UserId }, null )</td>
				<td>@user.FirstName</td>
				<td>@user.LastName</td>
				<td>@(user.IsAdmin ? "Yes" : "No")</td>
				<td>@(user.IsActive ? "Yes" : "No")</td>
				<td>@Html.ActionLink( "Delete", "Delete", "User", new { id=user.UserId }, null )</td>
			</tr>
		}
	</tbody>
</table>
