@model DocumentBranchEditViewModel

@{
	if (Model.DocumentId < 1) {
		ViewBag.Title = "Create a folder";
	} else {
		ViewBag.Title = "Edit folder " + Model.Name;
	}
}

<div class="container">
	<div class="row">

		@Html.Partial("_DocumentBreadCrumb", Model)

		<h2>@ViewBag.Title</h2>

		@using (Html.BeginForm()) {
			@Html.ValidationSummary(true)

			@Html.HiddenFor(m => m.DocumentId)
			@Html.ValidationMessageFor(m => m.DocumentId)
			@Html.HiddenFor(m => m.ParentDocumentId)
			@Html.ValidationMessageFor(m => m.ParentDocumentId)

			<div class="editor-label">
				@Html.LabelFor(m => m.Name)
			</div>
			<div class="editor-field">
				@Html.EditorFor(m => m.Name)
				@Html.ValidationMessageFor(m => m.Name)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Slug)
			</div>
			<div class="editor-field">
				@Html.EditorFor(m => m.Slug)
				@Html.ValidationMessageFor(m => m.Slug)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.IsActive)
			</div>
			<div class="editor-field">
				@Html.EditorFor(m => m.IsActive) @Html.LabelFor(m => m.IsActive)
				@Html.ValidationMessageFor(m => m.IsActive)
			</div>

			<div class="editor-submit">
				<input type="submit" value="Save" />
			</div>
		}
	</div>
</div>
