<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>@ViewBag.Title - Beta Sigma Phi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/site.css" />
		@RenderSection("head", required: false)
	</head>
	<body>
		<header>
			<div class="content-wrapper">
				<div class="float-left">
					<p class="site-title">@Html.ActionLink("Beta Sigma Phi", "Index", "Home")</p>
				</div>
				<div class="float-right">
					@if ( Html.CurrentUserIsAuthenticated() ) {
						@:Welcome @Html.CurrentUserFirstName() @Html.ActionLink("Logout","Logout","Login")
					} else {
						@Html.ActionLink("Login", "Index", "Login")
					}
				</div><br />
				<div class="float-right">
					<nav>
						<ul id="menu">
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							@if (Html.CurrentUserIsAuthenticated()) {
								foreach (Document node in Html.DocumentRootMenu()) {
									 <li><a href="@Html.JoinUrl(MvcApplication.DOCUMENT_BASE_PATH, node.Slug)">@node.Name</a></li>
								 }
							}
							@if (Html.CurrentUserIsAdmin()) {
								<li>@Html.ActionLink("Admin", "Index", "Admin")</li>
							}
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="body">
			<div class="content-wrapper main-content clear-fix">
				@RenderBody()
			</div>
		</div>
		<footer>
			<div class="content-wrapper">
				<div class="float-left">
					<p>&copy; @DateTime.Now.Year - Beta Sigma Phi</p>
				</div>
			</div>
		</footer>
		@*
			https://developers.google.com/speed/libraries/devguide lists Google's CDN content
			http://www.cdnjs.com/ is the missing CDN
		*@
		<!--[if lt IE 9]>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.js"></script>
		<script src="/js/jquery.unobtrusive-ajax.min.js"></script>
		<script src="/js/jquery.validate.unobtrusive.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
		<script src="/js/jquery.log.js"></script>
		<script src="/js/init.js"></script>
		@RenderSection("scripts", required: false)
	</body>
</html>
