<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>@ViewBag.Title - Beta Sigma Phi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
		<link type="text/css" rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/start/jquery-ui.css" />
		@Styles.Render("~/css/site")
		@RenderSection("head", required: false)
	</head>
	<body>
		<header>
			<div class="content-wrapper">
				<div class="float-left">
					<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
				</div>
				<div>
					@if ( Html.CurrentUserIsAuthenticated() ) { @:Welcome @Html.CurrentUserFirstName() @Html.ActionLink("Logout","Logout","Login")
					} else { @Html.ActionLink("Login", "Index", "Login")
					}
				</div>
				<div class="float-right">
					<nav>
						<ul id="menu">
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							<li>@Html.ActionLink("About", "About", "Home")</li>
							<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
							<li>@Html.ActionLink("Users", "Index", "User")</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="body">
			<div class="content-wrapper main-content clear-fix">
				@RenderBody()
			</div>
		</div>
		<footer>
			<div class="content-wrapper">
				<div class="float-left">
					<p>&copy; @DateTime.Now.Year - Beta Sigma Phi</p>
				</div>
			</div>
		</footer>
		@*
			https://developers.google.com/speed/libraries/devguide lists Google's CDN content
			http://www.cdnjs.com/ is the missing CDN
			http://www.asp.net/ajaxlibrary/CDN.ashx lists MS's CDN content
		*@
		<script>
			Modernizr.load({
				test: (window.JSON && JSON.stringify && JSON.parse),
				nope: "//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"
			});
		</script>
		<!--[if lt IE 9]>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.js"></script>
		<script src="/js/jquery.unobtrusive-ajax.min.js"></script>
		<script src="/js/jquery.validate.unobtrusive.min.js"></script>
		<script>
			Modernizr.load({
				test: Modernizr.input.placeholder,
				nope: '//cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.7/jquery.placeholder.min.js',
				complete: function () {
					if (!Modernizr.input.placeholder) {
						$('input, textarea').placeholder();
					}
				}
			});
		</script>
		@RenderSection("scripts", required: false)
	</body>
</html>
