@model PollsWithEligibleUsersViewModel
@{
    ViewBag.Title = "Current Polls";
}

<div class="container">
    <h2>Current Polls</h2>
    <div class="row">
        @if (Model != null && Model.avaiablePollsWithEligibleUsers != null && Model.avaiablePollsWithEligibleUsers.Count > 0)
        {
            foreach (PollWithEligibleUsers p in Model.avaiablePollsWithEligibleUsers)
            {
                <div class="col-md-5">
                    @using (Html.BeginForm("CurrentPolls", "Polls", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <h4>@p.userPoll.Category.Name</h4>
                        <hr />
                        <div class="form-group">
                            @Html.Label("Elect your choice:", new { @class = "col-md-5 control-label" })
                            <div class="col-md-7">
                                @Html.Hidden("selectedPollId", p.userPoll.PollId)
                                <select name="electedUserId" id="electedUser">
                                    @if (p.EligibleUsers != null && p.EligibleUsers.Count > 0)
                                    {
                                        foreach (User u in p.EligibleUsers)
                                        {
                                            <option value="@u.UserId">@u.FirstName @u.LastName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Submit" />
                            </div>
                        </div>
                        <div class="row">
                            @ViewData[p.userPoll.PollId.ToString()]
                        </div>
                    }

                </div>
            }
        }
        else
        {
            <div class="col-md-3">No active polls available.</div>
        }
    </div>
</div>
