@{
    ViewBag.Title = "Polls Tools";
}

@section head {
    @Styles.Render("~/css/kendouicss")
}

@section scripts {
    @Scripts.Render("~/js/kendouijs")
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>

        <ul>
            <li>@Html.ActionLink("Categories", "GetCategories", "Polls")</li>
            <li>@Html.ActionLink("Frequencies", "Frequencies", "Polls")</li>
            <li>@Html.ActionLink("Polls", "GetAllPolls", "Polls")</li>
        </ul>
    </div>
</div>
