@{
    ViewBag.Title = "Polls Tools";
}

@section head {
    @Styles.Render("~/css/kendouicss")
}

@section scripts {
    @Scripts.Render("~/js/kendouijs")
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <ul>
            <li>@Html.ActionLink("Manage Category", "GetCategories", "Polls")</li>
            <li>@Html.ActionLink("Manage Polls", "GetAllPolls", "Polls")</li>
            <li>@Html.ActionLink("Manage Votes", "Votes", "Polls")</li>
        </ul>
    </div>
</div>
